body {
  background-color: #000;
  background-image: url(../assets/image/Layer.jpg);
  background-position: top centre;
  background-repeat: no-repeat;
}

.logo-box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.header__logo {
  margin: 0 auto;
}

.index-column {
	display: flex;
	max-width: 940px;
	margin: 60px auto;

  color: #000;
  background-color: #f8f5f2;
}

.index-column h2 {
  font-size: 30px;
  line-height: 42px;
}

/* Features */
.features {
  margin: 0 auto;
  max-width: 940px;
}

.features__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features__item {
  text-align: center;
	min-width: 280px;
  
  margin: 0 15px;
}
.features__title {
  font-size: 30px;
  line-height: 42px;
}

/*news  */
.section-box {
min-width: 470px;
min-height: 420px;

padding-left: 90px;
}

.news__list {
  list-style: none;
	padding: 0px;
}

.news__time {
  text-transform: none;
}

/* gallery */

.gallery__container {
	width: 300px;
	height: 178px;
	margin: 0px;
  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery__image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.form__form {
	display: flex;

	flex-wrap: wrap;
}

.form__input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.form__form button {
	flex-grow: 1;
} 

.form__item {
	
}

.form__input:focus {
  border-color: #663d15;
}

.modal {
  color: #000;
  background-color: #f8f3f0;

	display: none;
}

.modal__title {
  font-size: 30px;
  line-height: 42px;
}

.user-passsword,
.user-email {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  background-color: #663d15;
}

.login-checkbox:focus,
.login-checkbox:hover {
  color: #663d15;
}

.restore {
  text-decoration: underline;
  color: #000;
}

.restore:focus,
.restore:hover {
  text-decoration: none;
}

.modal-map__map-img {
  object-fit: cover;
}
