body {
  background-color: #000;
  background-image: url(../assets/image/Layer.jpg);
  background-position: top centre;
  background-repeat: no-repeat;
}

.logo-box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.header__logo {
  margin: 0 auto;
}

.index-column {
  display: flex;
  max-width: 940px;
  margin: 60px auto;

  color: #000;
  background-color: #f8f5f2;

	background-image: url(../assets/image/divider.png);
	background-position: center;
	background-repeat: no-repeat;
}

.index-column h2 {
  font-size: 30px;
  line-height: 42px;
}

/* Features */
.features {
  margin: 0 auto;
  max-width: 940px;
}

.features__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features__item {
  max-width: 280px;

  margin: 0 15px;
  text-align: center;
}
.features__title {
  position: relative;
  font-size: 30px;
  line-height: 42px;

  margin: 0px;
  margin-bottom: 60px;
}

.features__title::after {
  content: '';

  position: absolute;
  width: 20px;
  height: 20px;

  background-color: #fff;

  bottom: -35px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

/*news  */
.section-box {
  min-width: 50%;
  min-height: 420px;

  padding-left: 90px;
}

.news__list {
  list-style: none;
  padding: 0px;
}

.news__item {
  margin-top: 23px;
}

.news__text {
 margin-bottom: 5px;
}

.news__time {
	display: inline-block;
  text-transform: none;
	margin-bottom: 10px;
}

/* gallery */

.image__container {
  width: 300px;
  height: 178px;

  margin: 0px;
  margin-bottom: 53px;

  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.form__form {
  display: flex;
  /* gap: 20px; */
  flex-wrap: wrap;
  align-items: space-between;
  min-height: 200px;
}

.form__intro {
  margin-bottom: 15px;
}

.form__lable {
  padding-left: 15px;
}

.form__input {
  width: 140px;
  height: 43px;

  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}

.form__form button {
  margin-top: 20px;
  width: 300px;
  margin-right: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-right: 20px;
}

.form__input:focus {
  border-color: #663d15;
}

.modal {
  color: #000;
  background-color: #f8f3f0;

  display: none;
}

.modal__title {
  font-size: 30px;
  line-height: 42px;
}

.user-passsword,
.user-email {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  background-color: #663d15;
}

.login-checkbox:focus,
.login-checkbox:hover {
  color: #663d15;
}

.restore {
  text-decoration: underline;
  color: #000;
}

.restore:focus,
.restore:hover {
  text-decoration: none;
}

.modal-map__map-img {
  object-fit: cover;
}
