@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsansnarrow.woff2') format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansnarrowbold.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Serif', Aria, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

/* header */
.container {
	margin: 0 auto;
	max-width: 940px;
	display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000;
}

.nav {
	display: flex; 
	justify-content: flex-start;

  font-size: 16px;
  line-height: 20px;

  background: #000;
}

.nav__list {
	
  list-style: none;
  display: flex;
}

.nav__item,
.header__login {
  margin-right: 20px;
}

.nav__link,
.header__login {
  color: #fff;
}

.nav__link:hover,
.header__login:hover,
.nav__link:focus,
.header__login:focus {
  background-color: #242424;
}

/* footer */
.footer {
  color: #fff;

  background-color: #212121;
}

.socials {
  text-align: center;
}

.socials__list {
  list-style: none;
}

.footer__developer {
  text-align: center;
}
