@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsansnarrow.woff2') format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansnarrowbold.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Serif', Aria, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;

  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

/* header */
.header {
  background-color: #000;
}
.container {
  margin: 0 auto;
  max-width: 940px;

  /* min-height: 70px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000;
}

.nav {
  font-size: 16px;
  line-height: 20px;

  background: #000;
}

.nav__list {
  min-width: 620px;
  display: flex;
  flex-wrap: wrap;

  padding-left: 0px;
  margin: 0px;
  list-style: none;
}

.logo {
	height: 60px;
}

.nav__item{
	position: relative;
}
.nav__item--current::before {
content: "";

position: absolute;
bottom: 0px;
left: 50%;
width: 80px;
height: 5px;
transform: translateX(-50%);
background-color: #fff;


}

.header__login-link {
  position: relative;
  display: block;

  padding: 20px 25px;
  margin-right: 0px;
  padding-left: 40px;

  font-size: 16px;
  line-height: 20px;
}
.header__login-link:hover,
.header__login-link:focus,
.header__login-link:active {
  background-color: #242424;
}

.header__login-link::before {
  content: '';

  position: absolute;
  top: 22px;
  left: 14px;
  width: 16px;
  height: 16px;

  background-image: url(../svg/login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header__login-link:hover::before,
.header__login-link:focus::before,
.header__login-link:active::before {
  opacity: 1;
}

.nav__link,
.header__login {
  display: block;
  padding: 20px 20px;

  color: #fff;
}

.nav__link:hover,
.header__login:hover,
.nav__link:focus,
.header__login:focus {
  background-color: #242424;
}

/* footer */

.footer {
  background-color: #212121;
}

.footer-container {
  max-width: 940px;
  min-height: 190px;
  margin: 0 auto;
	margin-top: 40px;
  padding-top: 40px;

  display: flex;
  align-items: flex-start;

  color: #fff;
  background-color: #212121;
}

.map-link {
  text-decoration: underline;
  color: #fff;
}

.map-link:hover,
.map-link:active,
.map-link:focus,
.socials__item a:hover,
.socials__item a:active,
.footer__developer .dd-button:hover,
.footer__developer .dd-button:active {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.socials {
  width: 140px;

  text-align: center;
  margin-left: 90px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}

.socials__item a {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
}

.footer__developer {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  text-align: center;
}
.footer__developer span {
  margin-bottom: 14px;
}

.footer__developer button {
  width: 140px;
  height: 45px;
  background-color: #000;
  color: #fff;
  margin-right: 0px;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  padding: 0;
	margin-bottom: 40px;
}
.breadcrumbs__item {
  position: relative;

  margin-right: 12px;
  /* border: 2px solid black; */
  list-style: none;
}
.breadcrumbs__link {
  color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:active,
.breadcrumbs__link:focus {
	color:#663d15;
}

.breadcrumbs__item--current {
  color: rgb(189, 189, 189);
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 20px;
}

.breadcrumbs__item:not(:first-child):before {
  content: '';

  position: absolute;
  top: 8px;
  left: 0px;

  width: 8px;
  height: 8px;

  background-color: #000;
  transform: rotate(45deg);
}
